<p id="notice"><%= notice %></p>

<h1>Categoría: <%= @category.name %> </h1>

<h2>Productos: </h2>

<div class="row">
  <div class="col-md-6">



<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Acción</th>
  </tr>

  <% @category.products.each do |prod| %>

  <tr>
    <td><%= prod.name %></td>
    <td><%= prod.price %></td>
    <td><%= link_to '(Borrar)', category_product_path(@category, prod), method: :delete %> </td>
  </tr>

  <% end %>

</table>

</div>
</div>



<%= form_with(model: [@category, Product.new], local: true) do |form| %>

  <%= form.hidden_field :category_id, value: @category.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
